<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link rel="icon" href="src/img/programming.jpg"> <!--para poner un icono en el buscador-->
    <Link rel="stylesheet" href="src/css/style.css">
</head>
<body>

    <header> <!--vamos a hacer un menú-->
        <nav>
            <ul>
                <li>Home</li>
                <li>Otra página</li>
            </ul>
        </nav>
        
    </header>

    <main>
        <center><h1>CAJAS (de donuts)</h1> </center>
        <!--vamos a ver como se divide una página por bloques-->
        <section> <!--una sección con 6 cajas dentro-->
            <div class="caja" id="caja-1">aaaaaaaaaa</div>
            <div class="caja" id="caja-2">eeeeeeeeee</div>
            <div class="caja" id="caja-3">Lorem ipsum dolor</div>
            <br>
            <div class="caja" id="caja-4">Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Nobis unde animi officiis, et impedit numquam 
                aspernatur eligendi beatae qui odio amet aperiam blanditiis ex 
                doloremque exercitationem at minima itaque vitae.</div>
            <br>
            <div class="caja" id="caja-5">no se acaba esto</div>
            <br>
            <div class="caja" id="caja-6">fin the end game over se acabó ya basta</div>
            <div>Lorem Lorem</div>
            <br><br><br><br>
            <img src="src/img/meme1.jpg">
            <br><br><br><br>
        </section>
        <br><br>
        
        <div>
            <img src="src/img/bart.jpg">
        </div>

    </main>

    <footer>

    </footer>

</body>
</html>